.orders_container{
    text-align: center;
    background-color: white;
}

.order_header{
    padding-top: 30px;
}
.ordered__item__container{
    text-align: start;
    padding-bottom: 30px;
}
.order__details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.ordered_products{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.ordered_products_title{
    font-size: 25px;
    margin-left: 30px;
}
#divider{
    margin-top: 10px;
}
.orderId{
    width: 50%;
}
.id{
    margin-top: 20px;
    margin-left: 30px;
}