#menClothesImage{
    height:265px;
    object-fit:contain;
}
.menClothes__Items{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
#menClothes__card{
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .5s ease;
    width: 50%;
}
#menClothes__card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 13px 0px grey;
}
#favIcon:hover{
   color:red;
}
#cartIcon:hover{
    color: #00a4e7;
}
#menClothes__title{
    font-size:1rem;
}
.loader{
    margin-top: 200px;
    margin-bottom: 150px;
    
}